<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
</head>

<body>
	<header th:fragment="layout-header">
		<div class="header-container">
			<div class="header-title">
				<h1><a th:href="@{/home}">OnePieceCard</a></h1>
			</div>
			<nav class="header-nav">
				<a th:href="@{/card/list}" class="nav-link">カードリスト</a>
				<a th:href="@{/choice/leader}" class="nav-link">デッキ作成</a>
				<a th:href="@{/deck/list}" class="nav-link">デッキ一覧</a>
				<a th:href="@{/setting}" class="nav-link">設定</a>
				<a th:if="${session.role} == 'admin'" th:href="@{/admin/config}" class="nav-link admin-link">管理者設定</a>
			</nav>
			<div class="header-right">
				<div class="header-user">
					<p>ようこそ、<span th:text="${session.username}"></span>さん</p>
				</div>
				<div class="header-logout">
					<a th:href="@{/logout}" class="logout-button">ログアウト</a>
				</div>
			</div>
		</div>
	</header>
</body>

</html>