<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
</head>

<body>
	<aside th:fragment="layout-sidebar">
		<div class="sidebar-container">
			<div class="sidebar-title">
				<h1>目次</h1>
			</div>
			<div class="sidebar-menu-button">
				<div class="sidebar-menu-item">
					<a th:href="@{/card/list}" class="sidebar-menu-button">カードリスト</a>
				</div>
				<div class="sidebar-menu-item">
					<a th:href="@{/choice/leader}" class="sidebar-menu-button">デッキ作成</a>
				</div>
				<div class="sidebar-menu-item">
					<a th:href="@{/deck/list}" class="sidebar-menu-button">デッキ一覧</a>
				</div>
				<div class="sidebar-menu-item">
					<a th:href="@{/setting}" class="sidebar-menu-button">設定</a>
				</div>
				<div class="sidebar-menu-item" th:if="${session.role} == 'admin'">
					<a th:href="@{/admin/config}" class="sidebar-menu-button sidebar-admin-button">管理者設定</a>
				</div>
			</div>
		</div>
	</aside>
</body>

</html>